<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CtrlAccueil</servlet-name>
        <servlet-class>Controleur.CtrlAccueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Saisir</servlet-name>
        <jsp-file>/jsp/Saisir.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Accueil</servlet-name>
        <jsp-file>/jsp/Accueil.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlSaisir</servlet-name>
        <servlet-class>Controleur.CtrlSaisir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Lire</servlet-name>
        <jsp-file>/jsp/Lire.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Supprimer</servlet-name>
        <jsp-file>/jsp/Supprimer.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlConfirmerSuppression</servlet-name>
        <servlet-class>Controleur.CtrlConfirmerSupprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_ConfSupprimer</servlet-name>
        <jsp-file>/jsp/ConfirmerSupprimer.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlSupprimer</servlet-name>
        <servlet-class>Controleur.CtrlSupprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Modifier</servlet-name>
        <jsp-file>/jsp/Modifier.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlConfirmerModification</servlet-name>
        <servlet-class>Controleur.CtrlConfirmerModification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_ConfModifier</servlet-name>
        <jsp-file>/jsp/ConfirmerModifier.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlModifier</servlet-name>
        <servlet-class>Controleur.CtrlModifier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_Saisir</servlet-name>
        <url-pattern>/Saisir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Accueil</servlet-name>
        <url-pattern>/Accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlSaisir</servlet-name>
        <url-pattern>/Enregistrer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Lire</servlet-name>
        <url-pattern>/Lire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Supprimer</servlet-name>
        <url-pattern>/Supprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlAccueil</servlet-name>
        <url-pattern>/Choix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlConfirmerSuppression</servlet-name>
        <url-pattern>/ConfSuppression</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_ConfSupprimer</servlet-name>
        <url-pattern>/ConfirmerSupprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlSupprimer</servlet-name>
        <url-pattern>/Suppression</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Modifier</servlet-name>
        <url-pattern>/Modifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlConfirmerModification</servlet-name>
        <url-pattern>/ConfirmerModification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_ConfModifier</servlet-name>
        <url-pattern>/ConfirmerModifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlModifier</servlet-name>
        <url-pattern>/Modification</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
